/*
  ----------------------------------------
     -> start general properties
  ----------------------------------------
 */

@font-face {
  font-family: "PtsansBold";
  src: url('../fonts/ptsansbold.woff');
}

@font-face {
  font-family: "PTSans";
  src: url('../fonts/ptsans.woff');
}

.page{
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-areas: ". body .";
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.page-body {
  grid-area: body;
  width: 1200px;
  position: relative;
  background: #F2F2F2;
  margin: 0 360px;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);;
}


.small-text {
  text-transform: uppercase;
  font-family: "PTSans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;

}

.medium-text {
  text-transform: uppercase;
  font-family: "PTSans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  text-align: center;
}

.fix {
  margin: 0;
  padding: 0;
}

/*
  ----------------------------------------
      -> end general properties
      -> start H blocks
  ----------------------------------------
 */

h2 {
  font-family: "PTSans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 26px;
  padding: 0;
  text-transform: uppercase;
  margin: 58px 0 0 0;
  text-align: center;
}


h3 {
  font-family: "PTSans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

h4 {
  font-family: "PTSans", sans-serif;
  color: #FFF;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}


/*
  ----------------------------------------
      -> end H blocks
      -> start header
  ----------------------------------------
 */

.header {
  position: absolute;
  width: 100%;
  height: 56px;
  background: #FFFFFF;
}

.nav {
  position: relative;
  margin: 0 72px;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.home-logo {
  height: 70px;
  width: 138px;
}

.top-menu-left, .top-menu-right {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.top-menu-left > li {
  list-style: none;
  margin: 0 134px 0 0;
}

.top-menu-right > li {
  list-style: none;
  margin: 0 0 0 147px;
}

.links {
  font-family: "PtsansBold", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  color: black;
}

/*
  ----------------------------------------
      -> end header
      -> start sections with info about SEDONA city
  ----------------------------------------
 */
.main {
  margin: 55px 0 0 0;
  background: #FFFFFF;
}

/*
      -> index.html properties
      -> start section  welcome to SEDONA
 */
.welcome-to-sedona {
  height: 509px;
  width: 100%;
  background-image: url('../img/bgf.png');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.image-place {
  position: relative;
  margin: 77px 372px 0 371px;
}

.image-mask {
  margin: 19px 0 0 0;
}

/*
    -> end section welcome to SEDONA
    -> start section short information about city
*/

.sedona-short-info {
  background-color: #FFF;
  height: 216px;
  width: 100%;
  position: relative;
}

.short-info-box {
  padding: 42px 0 51px 0;
}

.short-info-box > h3 {
  text-align: center;
  height: 80px;
}

.short-info-box > p {
  margin: 16px 0 0 0;
  line-height: 26px;
  height: 26px;
}

/*
      -> end section short information about city
      -> start section descriptions
*/

.content-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.aside {
  width: 100%;
  height: 256px;
  display: flex;
  flex-direction: row;
}

.description-box {
  background: #81B3D2;
  padding: 47px 0 54px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 155px;
  width: 100%;
}

.description-box>h4{
  margin: 0;
}

.description{
  font-family: "Ptsans", sans-serif;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
}


.inline-info-boxes {
  display: flex;
  flex-direction: row;
  background-color: #FFF;
  width: 100%;
  padding: 55px 0 82px 0;
  margin: 0;
}

.item-box {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.img-icons-h{
  margin: 0 0 28px 0;
}

.img-icons {
  margin: 5px 0 28px 0;
}


.with-gray-color {
  margin: 0;
  background-color: #EEEEEE;
  padding: 47px 0 54px 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.num {
  margin: 25px 0 23px 0;
  height: 21px;
}

/*
      -> end section descriptions
      -> start section interested q
*/


.interested-in {
  height: 291px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #FFF;
}

.interested-in > p {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Ptsans", sans-serif;
  text-align: center;
  padding: 0;
  margin: 40px 0 55px 0;
  line-height: 24px;
}

.modal-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 569px;
  height: 82px;
  background: #766357;
  margin: 0 315px;
}

/*
    -> end section interested q
    -> end index.html properties
    -> start footer
*/

.footer {
  height: 120px;
  width: 100%;
  background-image: url("../img/map.png");
}

.footer-content {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.phone-box {
  margin: 23px 0 36px 111px;
}

.phone-link{
  text-decoration: none;
  text-transform: none;
  color: black;
}

.social-network-group {
  margin: 23px 0 36px 163px;
  display: flex;
  flex-direction: row;
}

.bg-lg {
  width: 46px;
  height: 48px;
  background-color: #81B3D2;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 6px;
  align-items: center;
  justify-content: center;
}

.html-academy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 190px;
}

.html-academy > img {
  margin-left: 6px;
}

.selections{
  background-image: url("../img/logo/background.png");
  width: 1200px;
  height: 217px;
}
