/*
  ----------------------------------------
     -> start general properties
  ----------------------------------------
 */

@font-face {
  font-family: "PtsansBold";
  src: url('../fonts/ptsansbold.woff');
}

@font-face {
  font-family: "PTSans";
  src: url('../fonts/ptsans.woff');
}

:root{
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-extra-white: #f2f2f2;
  --basic-blue: #81B3D2;
  --basic-gray: #eeeeee;
  --basic-brown: #766357;

  --special-active-white:rgba(255,255,255,0.3) ;

  --opacity-black:rgba(0,0,0, 0.3);

  --special-hover-brown:#604E43;
  --special-active-brown:#503E33 ;

  --special-hover-blue:#669EC0;
  --special-active-blue:#5496BD;
}

.page{
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-areas: ". body .";
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.page-body {
  grid-area: body;
  min-width: 1200px;
  position: relative;
  background-color: #f2f2f2;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  text-transform: uppercase;
  font-family: "PTSans", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 0;
}
.page img{
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center, center;
}


.small-text {
  font: inherit;
  font-size: 14px;
}

.medium-text {
  font: inherit;
  font-size: 21px;
}

.fix {
  margin: 0;
  padding: 0;
}

/*
  ----------------------------------------
      -> end general properties
      -> start H blocks
  ----------------------------------------
 */

.page h2 {
  font: inherit;
  font-weight: bold;
  font-size: 30px;
  line-height: 26px;
  padding: 0;
  margin: 58px 0 0 0;
}


.page h3 {
  font: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding: 0;
  margin: 0;
}

.page h4 {
  font-family: "PTSans", sans-serif;
  color: var(--basic-white);
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.page a {
  text-decoration: none;
}

.page li{
  list-style: none;
}


/*
  ----------------------------------------
      -> end H blocks
      -> start header
  ----------------------------------------
 */

.header {
  position: relative;
  width: 1200px;
  height: 56px;
  background: #FFFFFF;
}

.nav {
  width: 1066px;
  position: relative;
  margin: 0 72px;
  height: inherit;
  display: flex;
  flex-direction: row;
}

.home-logo {
  height: 70px;
  width: 138px;
}



.top-menu-left, .top-menu-right {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: inherit;
}

.top-menu-left > li {
  margin: 0 124px 0 0;
}

.top-menu-right > li {
  margin: 0 0 0 135px;
}



.links {
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  white-space: nowrap;
}

/*
  ----------------------------------------
      -> end header
      -> start sections with info about SEDONA city
  ----------------------------------------
 */
.main {
  background-color: var(--basic-white);
}

/*
      -> index.html properties
      -> start section  welcome to SEDONA
 */
.welcome-to-sedona {
  height: 509px;
  width: 100%;
  background-image: url('../img/bgf.png');
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.image-place {
  margin: 77px 372px 0 371px;
}

.image-mask {
  margin: 20px 0 0 0;
}

/*
    -> end section welcome to SEDONA
    -> start section short information about city
*/

.sedona-short-info {
  background-color: var(--basic-white);
  height: 216px;
  width: 100%;
}

.short-info-box {
  padding: 42px 0 51px 0;
}

.short-info-box > h3 {
  height: 80px;
}

.short-info-box > p {
  margin: 16px 0 0 0;
  height: 26px;
}

/*
      -> end section short information about city
      -> start section descriptions
*/

.content-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.aside {
  width: 100%;
  height: 256px;
  display: flex;
  flex-direction: row;
}

.description-box {
  background-color: var(--basic-blue);
  padding: 47px 0 54px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 155px;
  width: 400px;
}

.description-box>h4{
  margin: 0;
}

.description{
  font: inherit;
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
}


.inline-info-boxes {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 55px 0 82px 0;
  margin: 0;
}

.item-box {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.img-icons-h{
  margin: 0 0 28px 0;
}

.img-icons {
  margin: 5px 0 28px 0;
}


.with-gray-color {
  margin: 0;
  background-color: var(--basic-gray);
  padding: 47px 0 54px 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.num {
  margin: 25px 0 23px 0;
  height: 21px;
}

/*
      -> end section descriptions
      -> start section interested q
*/


.interested-in {
  height: 291px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--basic-white);
}

.interested-in > p {
  font:inherit;
  padding: 0;
  margin: 40px 0 55px 0;
  line-height: 24px;
}

.modal-button {
  font:inherit;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 569px;
  height: 82px;
  background: var(--basic-brown);
  margin: 0 315px;
  border: 0;
  color: var(--basic-white);
}
.modal-button:hover{
background-color: var(--special-hover-brown);
}
.modal-button:active{
  background-color: var(--special-active-brown);
  color: var(--special-active-white);
}

/*
    -> end section interested q
    -> end index.html properties
    -> start footer
*/

.footer {
  height: 120px;
  width: 100%;
  background-image: url("../img/map.png");
}

.footer-content {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.phone-box {
  margin: 23px 0 36px 111px;
}

.phone-link{
  text-decoration: none;
  text-transform: none;
  color: black;
}

.social-network-group {
  margin: 23px 0 36px 163px;
  display: flex;
  flex-direction: row;
}

.bg-lg {
  width: 46px;
  height: 48px;
  background-color: #81B3D2;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 6px;
  align-items: center;
  justify-content: center;
}

.html-academy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 190px;
}

.html-academy > img {
  margin-left: 6px;
}

.selections{
  background-image: url("../img/logo/background.png");
  width: 1200px;
  height: 217px;
}

.form{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.form-group{
  display: flex;
  flex-direction: column;
}

.answer-header{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.sort-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size:12px;
}

.sort-list-title{
  font: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding: 0;
  margin: 0;
}

.sort-list-subtitle{
  color:var(--basic-black);
  margin:0 20px;
}

.sort-list-item{
  margin:0 20px;
}
.sort-list-item>p{
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: var(--opacity-black);
  border-bottom: var(--basic-blue) dotted 1px;
}

.sort-list-item>p:hover{
  color: var(--basic-blue);
}

.sort-list-item>p:active{
  border: 0;
  color: var(--basic-black);
}
.icon-up {
  }

.icon-down:before {
  content: "\25BC";
  width: 11px;
  height: 10px;
  color: #81B3D2;
}
.icon-down:hover , .icon-up:hover{
  color: var(--basic-black);
}

.more-details{
  border: 0;
  width: 110px;
  height: 27px;
  background-color: var(--basic-blue);
  text-transform: uppercase;
  font-size: 14px;
  color: var(--basic-white);
}
.more-details:hover{
  background-color: var(--special-hover-blue);
}
.more-details:active{
  background-color: var(--special-active-blue);
  color: var(--special-active-white);
}
.reservation
{
  border: 0;
  width: 142px;
  height: 27px;
  background-color: var(--basic-brown);
  text-transform: uppercase;
  font-size: 14px;
  color: var(--basic-white);
}
.reservation:hover{
  background-color: var(--special-hover-brown);
}
.reservation:active{
  background-color: var(--special-active-brown);
  color: var(--special-active-white);
}


.default>p{
  margin: 0;
  padding: 0;
  border: 0;
  color: var(--basic-blue);
}

.answer-content, .left-answer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

